.footer {
    padding: 1.6rem 0;
    background: $white;
    &__content {
        display: grid;
        grid-template-columns: 20.8rem 20.8rem 20.8rem 43.2rem;
        grid-column-gap: 1.6rem;
        grid-row-gap: 2rem;
    }
    &__title {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 700;
        color: $gray-90;
        margin-bottom: 1.6rem;
    }
    &__link {
        display: block;
        width: fit-content;
        text-decoration: none;
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        color: $gray-55;
        margin-bottom: 1.6rem;
        &:hover {
            opacity: 0.8;
        }
    }
    &__desc {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        color: $gray-55;
        margin-bottom: 1.6rem;
    }
    hr {
        background: #f4f4f4;
        margin: 2.4rem 0;
        opacity: 0.1;
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p,
        a {
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: rgba(0, 38, 58, 0.4);
            font-weight: 700;
        }
        p {
            margin-right: 8px;
        }
        a {
            text-decoration: none;
        }

        &-left {
            display: flex;
            align-items: center;
            p {
                margin-bottom: 0;
                margin-right: 3.3rem;
            }
            a {
                margin-right: 3.3rem;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    &__partner {
        background: $gray-75;
        border-radius: 8px;
        padding: 1.6rem 0.8rem;
        text-align: center;
        margin-top: 8.8rem;
        h2 {
            font-size: 1.4rem;
            line-height: 2.4rem;
            font-weight: 700;
            color: $white;
            margin: 0.8rem 0;
        }
        .button {
            margin: 0 auto;
        }
    }
    &__line {
        margin-top: 3.2rem;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.6rem;
        a {
            color: $gray-65;
            text-decoration: none;
            &:hover {
                opacity: 0.8;
            }
        }
        p {
            color: $gray-55;
        }
    }
    &__soc {
        &-item {
            text-decoration: none;
            margin-right: 1.6rem;
            &:hover {
                opacity: 0.8;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
