.footer {
    padding: 4.8rem 0 1.6rem 0;
    background: #F4F4F4;

    &__content {
        display: grid;
        grid-template-columns: 21.3rem 18.5rem 26.6rem 19.6rem;
        grid-column-gap: 1.6rem;
        justify-content: space-between;
        grid-row-gap: 2rem;
    }

    &__title {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 500;
        color: $logo-black;
        margin-bottom: 0.8rem;
    }

    &__link {
        display: block;
        width: fit-content;
        text-decoration: none;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
        color: #666666;
        margin-bottom: 0.8rem;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__text {
        display: block;
        width: fit-content;
        text-decoration: none;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
        color: $logo-black;
        margin-bottom: 0.8rem;

        span {
            margin-top: 0.8rem;
            color: #666666;
        }

        a {
            color: #666666;

            &:hover {
                opacity: 0.8;
            }
        }


    }


    &__desc {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        color: $gray-55;
        margin-bottom: 1.6rem;
    }

    hr {
        background: #f4f4f4;
        margin: 1.6rem 0;
        opacity: 0.1;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p,
        a {
            font-size: 1.4rem;
            line-height: 2rem;
            color: #999999;
            font-weight: 400;
            margin-bottom: 0;
        }

        // p {
        //     margin-right: 8px;
        // }

        // a {
        //     text-decoration: none;
        // }

        // &-left {
        //     display: flex;
        //     align-items: center;

        //     p {
        //         margin-bottom: 0;
        //         margin-right: 3.3rem;
        //     }

        //     a {
        //         margin-right: 3.3rem;

        //         &:hover {
        //             opacity: 0.6;
        //         }
        //     }
        // }
    }

    &__partner {
        background: $gray-75;
        border-radius: 8px;
        padding: 1.6rem 0.8rem;
        text-align: center;
        margin-top: 8.8rem;

        h2 {
            font-size: 1.4rem;
            line-height: 2.4rem;
            font-weight: 700;
            color: $white;
            margin: 0.8rem 0;
        }

        .button {
            margin: 0 auto;
        }
    }

    &__line {
        margin-top: 3.2rem;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.6rem;

        a {
            color: $gray-65;
            text-decoration: none;

            &:hover {
                opacity: 0.8;
            }
        }

        p {
            color: $gray-55;
        }
    }

    &__soc {
        &-item {
            display: inline-block;
            text-decoration: none;
            margin-right: 1.6rem;

            img {
                width: 3.2rem;
                height: 3.2rem;
            }

            &:hover {
                opacity: 0.8;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 3.2rem 0 2.4rem 0;

        &__soc {
            margin-bottom: 3.2rem;
        }

        &__footer {
            text-align: center;

            p {
                width: 100%;
                font-size: 1.1rem;
                line-height: 1.4rem;
                color: #4D4E59;
            }
        }
    }
}

.footer-desktop {
    display: grid;

    @media (max-width: 767px) {
        display: none;
    }
}

.footer-mobile {
    display: none;

    &__app-title {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 600;
        color: $logo-black;
        margin: 1.6rem 0;

    }

    &__apps {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        margin-bottom: 1.6rem;
    }

    &__link {
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-align: center;
        color: #1F1F26;
        display: flex;
        justify-content: center;
        margin-bottom: 1.2rem;
    }

    @media (max-width: 767px) {
        display: block;
    }
}

.accordion-footer {
    .accordion-item {
        border: none;
        margin-bottom: 1.6rem;

    }

    .accordion-button:not(.collapsed) {
        background-color: #F4F4F4;
        border: none;
    }

    .accordion-button {
        background-color: #F4F4F4;
        padding: 0;
        font-size: 1.4rem;
        line-height: 2.1rem;
        font-weight: 500;
        color: #00263A;
        border: none;
        box-shadow: none;

        &::after {
            background-color: #fff;
            border-radius: 50%;
            width: 3.2rem;
            height: 3.2rem;
            background-position: center;
        }

        &:focus {
            box-shadow: none;
        }

        // border: none;
    }

    .accordion-body {
        background-color: #F4F4F4;
        padding: 0;
        padding-bottom: 1rem;
    }
}