.header {
    padding: 1rem 0 2rem 0;
    background-color: $gray-90;
    position: relative;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        border-bottom: 1px solid #DFDEE2;
        padding-bottom: 1.2rem;
    }

    &__nav {
        margin-left: auto;
        padding-right: 2.4rem;
        margin-right: 2.4rem;
        border-right: 1px solid #fff;
    }

    &__location {
        display: flex;
        align-items: center;

        svg {
            margin-right: 8px;
        }

        span {
            color: $white;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    &__lang {
        display: flex;
        align-items: center;
        margin-right: 8px;

        select {
            background: transparent;
            color: $white;
            border: none;

            option {
                background: #fff;
                color: $brand-black;

                &:hover {
                    background: transparent;
                }
            }
        }

        span {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin-left: 6px;
            color: $white;
        }
    }

    &__link {
        color: $white;
        text-decoration: none;
        margin-right: 2.4rem;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.6rem;

        &:hover {
            opacity: 0.8;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__content {
        display: flex;
        align-items: center;
    }

    .catalog-button {
        margin-right: 1.6rem;
        min-width: 17.6rem;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.5rem;
        padding: 1.2rem 1.5rem;

        svg {
            position: relative;
            top: 1px;
            margin-right: 4px;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-right: 2.6rem;
        // img {
        //     width: 10.7rem;
        // }
    }

    &__search {
        width: 100%;
        max-width: 74.8rem;
        margin-right: 2rem;
        position: relative;
        display: flex;
        align-items: center;

        &-logo {
            position: absolute;
            left: 1.6rem;
            top: 50%;
            transform: translateY(-50%);
        }

        &-clear {
            display: none;
            position: absolute;
            right: 13.6rem;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: .2s;

            &:hover {
                opacity: 0.8;
            }
        }

        input {
            padding: 1.2rem 5rem;

            height: 48px;
            width: 100%;
            background: $brand-black;
            border: 2px solid #BF9959;
            border-radius: 8px 0 0 8px;
            font-size: 1.6rem;
            line-height: 2rem;
            color: $white;

            &::placeholder {
                color: #969393;
            }

            // &:hover {
            //     box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
            // }
        }

        &-button {
            background: $brand-primary;
            border-radius: 0px 8px 8px 0px;
            padding: 1.4rem 3.4rem;
            height: 48px;
            font-size: 1.6rem;
            line-height: 2rem;
            color: $white;
            border: none;
            transition: .2s;

            &:hover {
                background: #ac8a50;
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;

    }

    &__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 7.6rem;
        text-decoration: none;
        margin-right: 1.2rem;

        span {
            height: 1.5rem;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.5rem;
            line-height: initial;
            color: $white;
        }

        svg {
            width: 2.4rem;
            height: 2.4rem;
            // margin-bottom: 4px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.header-mobile {
    display: none;
    padding-top: 0.8rem;
    padding-bottom: 1.6rem;
    background-color: $gray-90;

    &__header {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-left: 3.4rem;
    }

    &__buttons {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }

    &__button {
        width: 2.4rem;
        height: 2.4rem;
    }

    &__search {
        position: relative;
        margin-top: 1.6rem;

        &-input {
            width: 100%;
            background: #F6F8FA;
            padding: 1rem 2rem 1rem 4rem;
            font-size: 1.4rem;
            line-height: 2rem;
            letter-spacing: 0.2px;
            height: 4rem;
            border: 1px solid #E4EFF3;
            border-radius: 8px;

            &::placeholder {
                color: #969393;
            }
        }

        &-logo {
            position: absolute;
            left: 0.8rem;
            top: 50%;
            transform: translateY(-50%);
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

.desktop-menu {
    position: absolute;
    // display: none;
    top: 13.7rem;
    left: 0;
    z-index: 99;
    width: 100%;
    min-height: calc(100vh - 13.7rem);
    padding-bottom: 1.6rem;
    padding-top: 1.7rem;
    background-color: #fff;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: .2s;

    &.active {
        // display: block;
        opacity: 1;
        visibility: visible;
    }
}

.categories-menu-wrapper {
    display: flex;
    position: relative;

}

.categories-menu__item {
    position: static;
    flex: 1 0 auto;
    width: 100%;
    min-height: 3rem;
    padding-left: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

.categories-menu__item:not(.--empty) {
    cursor: pointer;
}

.categories-menu__item-link {
    position: static;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1.3rem 1.6rem;
    border-radius: 12px;

    &:hover {
        background: #F6F6FB
    }
}

.categories-menu__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    border-radius: 4px;
}

.categories-menu__item-title {
    flex: 1 1 auto;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #33383d;
    margin-bottom: 0;
}

.sub-menu {
    --max-height-diff: calc(17rem + var(--top-banner-height));
    position: absolute;
    left: 30rem;
    top: 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 18rem;
    max-width: calc(100vw - 23.5rem);
    width: calc(1232px - 23rem);
    max-height: calc(100vh - 16.4rem);
    background: #fff;
    border-left: 1px solid hsla(0, 0%, 59%, .2);
    cursor: default;
    overflow-y: auto;

    p {
        margin-bottom: 0;
    }
}

.sub-menu__main {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    min-height: 46rem;
    width: auto;
    max-width: 100%;
    -moz-column-count: 3;
    -moz-column-width: 20rem;
    columns: 20rem 3;
    padding: 1.6rem;
}

.sub-menu__list-wrapper {
    display: block;
    width: 100%;
    -moz-column-break-inside: avoid;
    break-inside: avoid-column;
    margin-bottom: 1.6rem;
}

.sub-menu__item-title-link {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.sub-menu-list {
    padding: 0;
    list-style: none;
}

.sub-menu-list__item {
    padding-left: 0;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.sub-menu-list__item-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
    height: 100%;
    font-size: 1.4rem;
    line-height: 2rem;

    p {
        color: #8E8E93;

        &:hover {
            color: #000;
        }
    }


}

.categories-menu-wrapper {

    /* полоса прокрутки (скроллбар) */
    ::-webkit-scrollbar {

        width: 8px;
        /* ширина для вертикального скролла */
        height: 8px;
        /* высота для горизонтального скролла */
        background: #F5F5F5;
        border: 0.5px solid #aeaeb2ae;
        border-radius: 11px;
    }

    /* ползунок скроллбара */
    ::-webkit-scrollbar-thumb {
        background: #C0C1C1;
        border-radius: 11px;
        transition: .2s;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: $brand-black;
    }
}

.categories-menu {
    z-index: 2;
    display: none;
    min-width: 280px;
    width: 280px;
    background: #fff;
    max-height: calc(100vh - 16.4rem);
    overflow-y: auto;
    padding-bottom: 1rem;


}



@media (min-width: 768px) {
    .categories-menu-wrapper .categories-menu {
        margin-right: 16px;
    }
}

@media (min-width: 1280px) {
    .categories-menu {
        display: flex;
    }
}

.categories-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: block;
    }
}