.header {
    padding: 1rem 0 2rem 0;
    background-color: $gray-90;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    &__location {
        display: flex;
        align-items: center;
        svg {
            margin-right: 1.125rem;
        }
        span {
            color: $white;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
    &__lang {
        display: flex;
        align-items: center;
        margin-right: 8px;
        span {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2.4rem;
            margin-left: 6px;
            color: $white;
        }
    }
    &__link {
        color: $white;
        text-decoration: none;
        margin-right: 2.4rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__content {
        display: flex;
        align-items: center;
    }
    .catalog-button {
        margin-right: 2rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding: 1.2rem 1.6rem;
    }
    &__logo {
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }

    &__search {
        width: 100%;
        max-width: 66.4rem;
        margin-right: 2rem;
        position: relative;
        &-logo {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
        }
        input {
            padding: 1.2rem 1.6rem;
            padding-left: 5rem;
            height: 48px;
            width: 100%;
            background: $white;
            border-radius: 8px;
            border: 1px solid $gray-10;
            font-size: 1.6rem;
            line-height: 2.4rem;
            &:hover {
                box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
                border-radius: 8px;
            }
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 6.4rem;
        text-decoration: none;
        margin-right: 2.4rem;
        span {
            height: 1.6rem;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: initial;
            color: $white;
        }
        svg {
            margin-bottom: 4px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
