.discounts {
    margin: 2.4rem 0;
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 8px;
        background: $white;
        text-align: center;
        transition: 0.2s;
        &:hover {
            opacity: 0.8;
        }
        a {
            line-height: 1.6rem;
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.6rem;
        }
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}
.main-slider-section {
    margin-bottom: 4rem;
}
.discounts-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 1.6rem;
    grid-row-gap: 8px;
}
.popular {
    margin-bottom: 4rem;
    &__title {
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
    &__item {
        background: $white;
        padding: 1.6rem;
        border-radius: 10px;
        margin-bottom: 8px;
        &--banner {
            padding: 0;
            background: transparent;
        }
        &-baner {
            width: 100%;
        }
        &-image {
            position: relative;
        }
        &-slider {
            width: 14rem;
            margin: 0 auto;
            margin-bottom: 2rem !important;

            img {
                width: 100%;
            }

            .slick-dots li button::before {
                color: $gray-20;
                opacity: 1;
            }
            .slick-dots li.slick-active button::before {
                color: $primary-100;
            }
        }
        &-title {
            font-weight: 500;
            font-size: 1.6rem;

            margin-top: 3rem;
            a {
                line-height: 1.9rem;
                color: #00263a;
                margin-bottom: 1.1rem;
                transition: color 0.2s;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -moz-box;
                -moz-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-clamp: 2;
                box-orient: vertical;
                &:hover {
                    color: #006499;
                }
            }
        }
        &-review {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
        &-reviews {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: #909090;
            transition: color 0.2s;
            &:hover {
                color: $gray-55;
            }
        }
        &-stars {
            display: flex;
            align-items: center;
            margin-right: 8px;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.4rem;
            color: #909090;
            img {
                margin-right: 4px;
            }
            span {
                margin-left: 4px;
                color: #909090;
            }
        }
        &-credit {
            padding: 4px 8px;
            font-weight: 400;
            background: rgba(80, 172, 128, 0.3);
            border-radius: 3px;
            font-size: 1.4rem;
            line-height: 1.4rem;
            color: #00522b;
            width: fit-content;
            margin-bottom: 1rem;
        }
        &-sum {
            &__sale {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.4rem;
                text-decoration-line: line-through;
                color: #919191;
                margin-bottom: 1rem;
            }
            &__main {
                font-weight: 600;
                font-size: 2.2rem;
                line-height: 2.2rem;
                color: #00263a;
            }
        }
        &-heart {
            position: absolute;
            top: 1.5rem;
            right: 1.4rem;
            cursor: pointer;
            &:hover {
                path {
                    fill: #00263a;
                }
            }
            &.active {
                path {
                    fill: #00263a;
                    &:hover {
                        fill: #00263a;
                        opacity: 0.8;
                    }
                }
            }
            path {
                transition: fill 0.2s;
                // fill: #00263a;
            }
        }
    }
}
.popular-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1.6rem;
    grid-row-gap: 8px;
}
