.discounts-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 1.6rem;
    grid-row-gap: 8px;
}

.discounts {
    margin: 2.4rem 0;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 8px;
        background: $white;
        text-align: center;
        transition: 0.2s;

        &:hover {
            opacity: 0.8;
        }

        a {
            line-height: 1.6rem;
            text-decoration: none;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.6rem;
        }

        img {
            width: 100%;
            max-width: 11.6rem;
        }
    }
}

.slider-section {
    margin-top: 6.3rem;
    margin-bottom: 7.2rem;

    .main-slider {
        width: 89rem;
    }

    &__wrapper {
        display: flex;
        gap: 3.2rem;
    }

    &__products {
        flex: 1;
    }

    &__product {
        width: 100%;
        margin-bottom: 3.2rem;
        height: 16.4rem;
        padding: 2.4rem;
        background: $brand-black;
        border-radius: 16px;

        &-content {
            max-width: 19rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                font-size: 2rem;
                line-height: 2.4rem;
                font-weight: 600;
            }


        }

        &__oldprice {
            font-size: 1.6rem;
            line-height: 2.4rem;
            text-decoration-line: line-through;
            margin-bottom: 4px;
        }

        &__price {
            font-size: 2rem;
            line-height: 2.4rem;
            font-weight: 600;
            margin-bottom: 0;
        }

        &--first {

            h2,
            p {
                color: $white;
            }
        }

        &--second {
            background: #FFCB12;

            h2 {
                color: #001974;
            }

            p {
                color: $brand-black;
            }
        }
    }
}

.popular {
    margin-bottom: 4rem;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $logo-black;

            &:hover {
                opacity: 0.8;
            }
        }

        svg {
            margin-left: 1.3rem;
        }

        h2 {
            font-weight: 600;
            font-size: 3.4rem;
            line-height: 4rem;
            color: $logo-black;
        }

        margin-bottom: 3.2rem;
        margin-top: 4rem;
    }

    &__item {
        position: relative;
        background: $white;
        padding: 2.4rem 1.2rem 4px 1.2rem;
        border-right: 2px solid #F0F0F0;

        &-image {
            position: relative;

            img {
                width: 100%;
            }
        }

        // &-slider {
        //     width: 14rem;
        //     margin: 0 auto;
        //     margin-bottom: 2rem !important;

        //     img {
        //         width: 100%;
        //     }

        //     .slick-dots li button::before {
        //         color: $gray-20;
        //         opacity: 1;
        //     }
        //     .slick-dots li.slick-active button::before {
        //         color: $primary-100;
        //     }
        // }
        &-category {
            font-size: 1.4rem;
            line-height: 1.6rem;
            font-weight: 400;
            color: #7E7E83;
            margin-top: 1.6rem;
        }

        &-title {
            margin-top: 0.8rem;

            a {
                font-size: 1.4rem;
                font-weight: 600;

                line-height: 2.4rem;
                color: $brand-black;
                margin-bottom: 1.2rem;
                transition: color 0.2s;
                text-decoration: none;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -moz-box;
                -moz-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-clamp: 2;
                box-orient: vertical;

                &:hover {
                    color: #006499;
                }
            }
        }

        &-review {
            display: flex;
            align-items: center;
            margin-bottom: 1.2rem;
        }

        &-reviews {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: #909090;
            transition: color 0.2s;
            text-decoration: none;

            &:hover {
                color: $gray-55;
            }
        }

        &-stars {
            display: flex;
            align-items: center;
            margin-right: 8px;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.4rem;
            color: #909090;

            svg {
                margin-right: 4px;
                cursor: pointer;

                &:hover {
                    path {
                        fill: #FCB800;
                    }
                }
            }

            img {
                margin-right: 4px;
            }

            span {
                margin-left: 4px;
                color: #909090;
            }
        }

        &-credit {
            display: flex;
            align-items: center;
            margin-bottom: 0.8rem;

            span {
                background: $green;
                padding: 4.5px 8px;
                border-radius: 24px;
                font-size: 1.2rem;
                line-height: 1.5rem;
                color: $white;
                font-weight: 400;
                width: fit-content;

            }

            p {
                margin-bottom: 0;
                font-size: 1.2rem;
                line-height: 1.5rem;
                font-weight: 400;
                margin-left: 4px;
                color: $gray;
            }
        }

        &-sum {
            &__sale {
                position: relative;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2.4rem;
                text-decoration-line: line-through;
                color: $gray;
                margin-bottom: 4px;

                span {
                    position: absolute;
                    color: $danger;
                    right: 10px;
                    text-decoration-line: none;
                }
            }

            &__main {
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.4rem;
                color: $brand-black;
                margin-bottom: 0;
            }
        }

        &-new {
            position: absolute;
            top: 0;
            left: 1.4rem;
            background: $green;
            padding: 4.5px 8px;
            border-radius: 24px;
            font-size: 1.2rem;
            line-height: 1.5rem;
            font-weight: 700;
            color: $white;
        }
    }
}

.popular__item {
    position: relative;
    background: $white;
    padding: 2.4rem 1.2rem 4px 1.2rem;
    border-right: 2px solid #F0F0F0;

    &-image {
        position: relative;

        img {
            width: 100%;
        }
    }

    // &-slider {
    //     width: 14rem;
    //     margin: 0 auto;
    //     margin-bottom: 2rem !important;

    //     img {
    //         width: 100%;
    //     }

    //     .slick-dots li button::before {
    //         color: $gray-20;
    //         opacity: 1;
    //     }
    //     .slick-dots li.slick-active button::before {
    //         color: $primary-100;
    //     }
    // }
    &-category {
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 400;
        color: #7E7E83;
        margin-top: 1.6rem;
    }

    &-title {
        margin-top: 0.8rem;

        a {
            font-size: 1.4rem;
            font-weight: 600;

            line-height: 2.4rem;
            color: $brand-black;
            margin-bottom: 1.2rem;
            transition: color 0.2s;
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            box-orient: vertical;

            &:hover {
                color: #006499;
            }
        }
    }

    &-review {
        display: flex;
        align-items: center;
        margin-bottom: 1.2rem;
    }

    &-reviews {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: #909090;
        transition: color 0.2s;
        text-decoration: none;

        &:hover {
            color: $gray-55;
        }
    }

    &-stars {
        display: flex;
        align-items: center;
        margin-right: 8px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.4rem;
        color: #909090;

        svg {
            margin-right: 4px;
            cursor: pointer;

            &:hover {
                path {
                    fill: #FCB800;
                }
            }
        }

        img {
            margin-right: 4px;
        }

        span {
            margin-left: 4px;
            color: #909090;
        }
    }

    &-credit {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;

        span {
            background: $green;
            padding: 4.5px 8px;
            border-radius: 24px;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: $white;
            font-weight: 400;
            width: fit-content;

        }

        p {
            margin-bottom: 0;
            font-size: 1.2rem;
            line-height: 1.5rem;
            font-weight: 400;
            margin-left: 4px;
            color: $gray;
        }
    }

    &-sum {
        &__sale {
            position: relative;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            text-decoration-line: line-through;
            color: $gray;
            margin-bottom: 4px;

            span {
                position: absolute;
                color: $danger;
                right: 10px;
                text-decoration-line: none;
            }
        }

        &__main {
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.4rem;
            color: $brand-black;
            margin-bottom: 0;
        }
    }

    &-new {
        position: absolute;
        top: 0;
        left: 1.4rem;
        background: $green;
        padding: 4.5px 8px;
        border-radius: 24px;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 700;
        color: $white;
    }
}

.popular-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 4rem;
}

.reklama-large {
    margin: 7.2rem 0;
}

.stock {
    &__title {
        font-size: 3.4rem;
        line-height: 4rem;
        font-weight: 600;
        color: $logo-black;
        margin-bottom: 3.2rem;
    }
}

.last-view {
    .popular__item {
        max-width: 20.2rem;
    }


    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $logo-black;

            &:hover {
                opacity: 0.8;
            }
        }

        svg {
            margin-left: 1.3rem;
        }

        h2 {
            font-size: 3.4rem;
            line-height: 4rem;
            font-weight: 600;
            color: $logo-black;
            margin-bottom: 3.2rem;
        }

    }
}

@media (max-width: 1024px) {
    .popular-wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    .discounts-wrapper {
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 767.98px) {
    .discounts-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .popular {
        &__title {
            font-size: 2.6rem;
            line-height: 2.6rem;
            margin-top: 3rem;
        }

        &__item {
            &-title {
                font-size: 1.4rem;
                margin-top: 2rem;
            }

            &-heart {
                top: 1rem;
                right: 1rem;
                width: 2rem;
                height: 2rem;
            }

            &-sum {
                &__sale {
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    margin-bottom: 6px;
                }

                &__main {
                    font-size: 1.6rem;
                    line-height: 2rem;
                }
            }

            &-stars {
                font-size: 1.2rem;
            }

            &-reviews {
                font-size: 1.2rem;
            }
        }
    }

    .popular-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}