.main-slider {
    img {

        width: 100%;
        max-width: 100%;
        border-radius: 16px;
    }

    &__item {
        position: relative;
    }

    &__content {
        position: absolute;
        z-index: 2;
        left: 11.2rem;
        top: 50%;
        transform: translateY(-50%);
        max-width: 27.4rem;
    }

    &__title {
        color: $white;
        font-size: 3.4rem;
        line-height: 5rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
    }

    &__desc {
        color: $gray;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
        margin-bottom: 2.8rem;
    }

    .button {
        font-weight: 500;
        padding: 0.8rem 1.6rem;
        border-radius: 4px;
    }

    .slick-prev,
    .slick-next {
        z-index: 1;
        width: 4rem;
        height: 4rem;
    }

    .slick-prev {
        left: 16px;

        &::before {
            content: '';
            transition: 0.2s;
            display: block;
            background: url(../img/icons/slick-arrow.svg) no-repeat center;
            background-size: contain;
            transform: rotate(180deg);
            width: 4rem;
            height: 4rem;
        }
    }

    .slick-next {
        right: 16px;

        &::before {
            content: '';
            transition: 0.2s;
            display: block;
            background: url(../img/icons/slick-arrow.svg) no-repeat center;
            background-size: contain;
            width: 4rem;
            height: 4rem;
        }
    }

    .slick-dots {
        bottom: -16px;

        li {
            height: 2px;
            width: 32px;

            &.slick-active {
                button {

                    &::before {

                        background: #333333;
                    }
                }
            }

            button {
                height: 2px;
                width: 32px;
                padding: 0;

                &::before {
                    content: '';
                    height: 2px;
                    width: 32px;
                    background: #BABAC0;
                }
            }
        }
    }

    .slick-dots li button::before {
        font-size: 1.2rem;
        color: #BABAC0;
        opacity: 1;
    }

    .slick-dots li.slick-active button::before {
        color: #333333;
        opacity: 1;
    }
}

@media (max-width: 767.98px) {
    .main-slider {

        .slick-prev,
        .slick-next {
            width: 3rem;
            height: 3rem;
        }

        .slick-prev {
            left: 5px;

            &::before {
                background-size: contain;
                width: 3rem;
                height: 3rem;
            }
        }

        .slick-next {
            right: 5px;

            &::before {
                background-size: contain;
                width: 3rem;
                height: 3rem;
            }
        }

        .slick-dots {
            bottom: 0px;
        }

        .slick-dots li button::before {
            font-size: 0.7rem;
        }

        .slick-dots li {
            margin: 0;
        }
    }
}