$white: #ffffff;
$bg: #f0f1f2;
$black: #000000;
$brand-black: #00263a;
$brand-primary: #bf9959;
$text-secondary: #919191;
$border-light: #eeeeee;
$brand-focused: #006499;

$primary-120: #997a47;
$primary-110: #ac8a50;
$primary-100: #bf9959;
$primary-90: #c5a36a;
$primary-80: #ccad7a;
$primary-70: #d2b88b;
$primary-60: #d9c29b;

$secondary-120: #357355;
$secondary-110: #50ac80;
$secondary-100: #59bf8e;
$secondary-90: #6ac599;
$secondary-80: #7acca5;
$secondary-70: #8bd2b0;
$secondary-60: #9bd9bb;

$green-120: #266528;
$green-110: #38873b;
$green-100: #4caf50;
$green-90: #a2dab2;
$green-80: #caf1d5;
$green-70: #e4fbea;
$green-60: #f1fff5;

$yellow-120: #de9302;
$yellow-110: #e7a600;
$yellow-100: #ffc107;
$yellow-90: #ffdc72;
$yellow-80: #ffe69b;
$yellow-70: #ffefbd;
$yellow-60: #fff9e7;

$red-120: #84040c;
$red-110: #b1040e;
$red-100: #df0613;
$red-90: #f6666f;
$red-80: #f88c93;
$red-70: #fcbabe;
$red-60: #ffe2e4;

$gray-90: #00263a;
$gray-75: #1a3c4e;
$gray-65: #4d6775;
$gray-55: #80939d;
$gray-30: #b3bec4;
$gray-20: #ccd4d8;
$gray-10: #e6e9eb;
$gray-03: #f4f4f4;

.green-text {
    color: $secondary-100;
}
