@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/dinpro.otf');
}
@font-face {
    font-family: 'D-DIN-Bold';
    src: url('../fonts/D-DIN-Bold.otf');
}

%fontRegular {
    font-family: 'D-DIN';
}
%fontBold {
    font-family: 'D-DIN-Bold';
}
