@import './fluid-typography';
@import './normalize';
@import './vars';
@import './colors';
@import './fonts';
@import './buttons';
@import './grid';
@import './header/header';
@import './footer/footer';
@import './sliders/sliders';
@import './main/main';
@import './cart/cart';
@import './pages/cards';
@import './pages/login';
@import './components/form';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
    --bs-font-sans-serif: 'Inter', system-ui, Tahoma, sans-serif !important;
}

body {
    background-color: $white !important;
    font-family: 'Inter', system-ui, Tahoma, sans-serif !important;
}

.main {
    margin-top: 3.2rem;
    padding-bottom: 12rem;
}

@media (max-width: 767px) {
    main {
        margin-top: 1.6rem;

        padding-bottom: 2.4rem;
    }
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 8px;
    /* ширина для вертикального скролла */
    height: 8px;
    /* высота для горизонтального скролла */
    background-color: $white;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: $brand-black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

.breadcrumb {
    margin: 3.2rem 0;

    &__link {
        font-size: 1.4rem;
        // line-height: 1.7rem;
        color: $text-secondary;
        text-decoration: none;

        &:hover {
            color: $brand-black;
        }

        &::after {
            content: '';
            display: inline-block;
            position: relative;
            top: 3px;
            width: 1px;
            margin: 0 8px;
            margin-left: 9px;
            height: 1.7rem;
            background: $text-secondary;
            transform: rotate(15deg);
        }

        &:last-child {
            &::after {
                content: none;
            }
        }

        // &.active {
        //     color: $brand-black;
        // }
    }
}

.nav-tabs-custom {
    border-bottom: 3px solid #F0F0F0;

    .nav-item {
        &:last-child {
            .nav-link {
                margin-right: 0;
            }
        }
    }

    .nav-link {
        color: #BDBDBD;
        background: transparent;
        border: none;
        padding: 0;
        padding-bottom: 8px;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        transition: all 0.2s;
        border-bottom: 3px solid transparent;
        margin-right: 4.8rem;
        position: relative;
        top: 3px;

        @media (max-width: 767px) {
            font-size: 1.4rem;
            font-weight: 700;
            margin-right: 2.3rem;
        }

        &:hover {
            color: $logo-black;
            border-bottom: 3px solid $brand-primary;
        }

        &.active {
            color: $logo-black;
            background-color: transparent;
            border: none;
            border-bottom: 3px solid $brand-primary;
        }
    }
}

.tab-content-custom {
    .tab-pane {
        padding-top: 3.2rem;

        @media (max-width: 767px) {
            padding-top: 1.6rem;
        }
    }

    margin-bottom: 7.2rem;
}

.text-more {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    transition: all 0.2s;
}