@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
html {
  font-size: 10px;
  font-family: Roboto, system-ui, Tahoma, sans-serif;
}

@media screen and (max-width: 374px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  html {
    font-size: calc(10px + 10 * (100vw - 375px) / 392);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: calc(8px + 2.7 * (100vw - 768px) / 255);
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: calc(7.4px + 2 * (100vw - 1024px) / 256);
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  html {
    font-size: calc(9px + 0.5 * (100vw - 1280px) / 160);
  }
}
@media (min-width: 1440px) {
  html {
    font-size: calc(10px * (100vw - 1600px) / 240);
  }
}
body {
  font-size: 1.6rem !important;
  line-height: 2.4rem !important;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000000;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #000000;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

.green-text {
  color: #59bf8e;
}

@font-face {
  font-family: "D-DIN";
  src: url("../fonts/dinpro.otf");
}
@font-face {
  font-family: "D-DIN-Bold";
  src: url("../fonts/D-DIN-Bold.otf");
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  box-shadow: none;
  background: #bf9959;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border: 1px solid transparent;
}
.button:hover {
  background: #ac8a50;
}
.button:active {
  background: #997a47;
}
.button__icon {
  margin-right: 1rem;
}
.button:disabled {
  background: #f4f4f4;
  color: #b3bec4;
  cursor: auto;
}
.button--secondary {
  background: #59bf8e;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 1px solid #59bf8e;
}
.button--secondary:hover {
  background: #50ac80;
}
.button--secondary:active {
  background: #357355;
}
.button--accent {
  background: #bf9959;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 1px solid #bf9959;
}
.button--accent:hover {
  background: #ac8a50;
}
.button--accent:active {
  background: #997a47;
}
.button--critical {
  background: #df0613;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 1px solid #df0613;
}
.button--critical:hover {
  background: #b1040e;
}
.button--critical:active {
  background: #84040c;
}
.button--ghost {
  background: transparent;
  color: #59bf8e;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 1px solid #59bf8e;
}
.button--ghost:hover {
  color: #50ac80;
  border: 1px solid #50ac80;
}
.button--ghost:active {
  background: #357355;
  color: #ffffff;
}
.button--outline {
  background: transparent;
  color: #59bf8e;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 1px solid #59bf8e;
  font-family: "D-DIN";
}
.button--outline:hover {
  color: #ffffff;
  background: #50ac80;
  border: 1px solid #50ac80;
}
.button--outline:active {
  background: #357355;
  border: 1px solid #357355;
  color: #ffffff;
}
.button--xxl {
  padding: 1.6rem 2.4rem;
}
.button--xl {
  padding: 1.2rem 2.4rem;
}
.button--l {
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
}
.button--m {
  padding: 0.4rem 2.4rem;
  font-size: 1.4rem;
}
.button--m__icon {
  margin-right: 0.97rem;
}
.button--s {
  padding: 0.25rem 2.4rem 0.15rem 2.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
}
.button--s__icon {
  margin-right: 0.93rem;
}

.container {
  max-width: 132rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.header {
  padding: 1rem 0 2rem 0;
  background-color: #00263a;
}
.header__header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #DFDEE2;
  padding-bottom: 1.2rem;
}
.header__nav {
  margin-left: auto;
  padding-right: 2.4rem;
  margin-right: 2.4rem;
  border-right: 1px solid #fff;
}
.header__location {
  display: flex;
  align-items: center;
}
.header__location svg {
  margin-right: 8px;
}
.header__location span {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.header__lang {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.header__lang select {
  background: transparent;
  color: #ffffff;
  border: none;
}
.header__lang select option {
  background: #fff;
  color: #00263a;
}
.header__lang select option:hover {
  background: transparent;
}
.header__lang span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-left: 6px;
  color: #ffffff;
}
.header__link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 2.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.header__link:hover {
  opacity: 0.8;
}
.header__link:last-child {
  margin-right: 0;
}
.header__content {
  display: flex;
  align-items: center;
}
.header .catalog-button {
  margin-right: 1.6rem;
  min-width: 17.6rem;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 1.2rem 1.5rem;
}
.header .catalog-button svg {
  position: relative;
  top: 1px;
  margin-right: 4px;
}
.header__logo {
  display: flex;
  align-items: center;
  margin-right: 2.6rem;
}
.header__search {
  width: 100%;
  max-width: 74.8rem;
  margin-right: 2rem;
  position: relative;
  display: flex;
  align-items: center;
}
.header__search-logo {
  position: absolute;
  left: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
}
.header__search-clear {
  display: none;
  position: absolute;
  right: 13.6rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.2s;
}
.header__search-clear:hover {
  opacity: 0.8;
}
.header__search input {
  padding: 1.2rem 5rem;
  height: 48px;
  width: 100%;
  background: #00263a;
  border: 2px solid #BF9959;
  border-radius: 8px 0 0 8px;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #ffffff;
}
.header__search input::-moz-placeholder {
  color: #969393;
}
.header__search input::placeholder {
  color: #969393;
}
.header__search-button {
  background: #bf9959;
  border-radius: 0px 8px 8px 0px;
  padding: 1.4rem 3.4rem;
  height: 48px;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #ffffff;
  border: none;
  transition: 0.2s;
}
.header__search-button:hover {
  background: #ac8a50;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7.6rem;
  text-decoration: none;
  margin-right: 1.2rem;
}
.header__button span {
  height: 1.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  line-height: initial;
  color: #ffffff;
}
.header__button svg {
  width: 2.4rem;
  height: 2.4rem;
}
.header__button:last-child {
  margin-right: 0;
}

.header-mobile {
  display: none;
  padding-top: 0.8rem;
  padding-bottom: 1.6rem;
  background-color: #00263a;
}
.header-mobile__header {
  display: flex;
  align-items: center;
}
.header-mobile__logo {
  margin-left: 3.4rem;
}
.header-mobile__buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.header-mobile__button {
  width: 2.4rem;
  height: 2.4rem;
}
.header-mobile__search {
  position: relative;
  margin-top: 1.6rem;
}
.header-mobile__search-input {
  width: 100%;
  background: #F6F8FA;
  padding: 1rem 2rem 1rem 4rem;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  height: 4rem;
  border: 1px solid #E4EFF3;
  border-radius: 8px;
}
.header-mobile__search-input::-moz-placeholder {
  color: #969393;
}
.header-mobile__search-input::placeholder {
  color: #969393;
}
.header-mobile__search-logo {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
}

@media (max-width: 767px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}
.footer {
  padding: 4.8rem 0 1.6rem 0;
  background: #F4F4F4;
}
.footer__content {
  display: grid;
  grid-template-columns: 21.3rem 18.5rem 26.6rem 19.6rem;
  grid-column-gap: 1.6rem;
  justify-content: space-between;
  grid-row-gap: 2rem;
}
.footer__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #0D0D0D;
  margin-bottom: 0.8rem;
}
.footer__link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #666666;
  margin-bottom: 0.8rem;
}
.footer__link:last-child {
  margin-bottom: 0;
}
.footer__link:hover {
  opacity: 0.8;
}
.footer__text {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #0D0D0D;
  margin-bottom: 0.8rem;
}
.footer__text span {
  margin-top: 0.8rem;
  color: #666666;
}
.footer__text a {
  color: #666666;
}
.footer__text a:hover {
  opacity: 0.8;
}
.footer__desc {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #80939d;
  margin-bottom: 1.6rem;
}
.footer hr {
  background: #f4f4f4;
  margin: 1.6rem 0;
  opacity: 0.1;
}
.footer__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__footer p,
.footer__footer a {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #999999;
  font-weight: 400;
  margin-bottom: 0;
}
.footer__partner {
  background: #1a3c4e;
  border-radius: 8px;
  padding: 1.6rem 0.8rem;
  text-align: center;
  margin-top: 8.8rem;
}
.footer__partner h2 {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0.8rem 0;
}
.footer__partner .button {
  margin: 0 auto;
}
.footer__line {
  margin-top: 3.2rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.footer__line a {
  color: #4d6775;
  text-decoration: none;
}
.footer__line a:hover {
  opacity: 0.8;
}
.footer__line p {
  color: #80939d;
}
.footer__soc-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 1.6rem;
}
.footer__soc-item img {
  width: 3.2rem;
  height: 3.2rem;
}
.footer__soc-item:hover {
  opacity: 0.8;
}
.footer__soc-item:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .footer {
    padding: 3.2rem 0 2.4rem 0;
  }
  .footer__soc {
    margin-bottom: 3.2rem;
  }
  .footer__footer {
    text-align: center;
  }
  .footer__footer p {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #4D4E59;
  }
}
.footer-desktop {
  display: grid;
}
@media (max-width: 767px) {
  .footer-desktop {
    display: none;
  }
}

.footer-mobile {
  display: none;
}
.footer-mobile__app-title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #0D0D0D;
  margin: 1.6rem 0;
}
.footer-mobile__apps {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
}
.footer-mobile__link {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #1F1F26;
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}
@media (max-width: 767px) {
  .footer-mobile {
    display: block;
  }
}

.accordion-footer .accordion-item {
  border: none;
  margin-bottom: 1.6rem;
}
.accordion-footer .accordion-button {
  background-color: #F4F4F4;
  padding: 0;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 500;
  color: #00263A;
  border: none;
  box-shadow: none;
}
.accordion-footer .accordion-button::after {
  background-color: #fff;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  background-position: center;
}
.accordion-footer .accordion-button:focus {
  box-shadow: none;
}
.accordion-footer .accordion-body {
  background-color: #F4F4F4;
  padding: 0;
  padding-bottom: 1rem;
}

.stock-slider__item,
.last-view-slider__item,
.similar-products-slider__item {
  max-width: 27.3rem;
}
.stock-slider img,
.last-view-slider img,
.similar-products-slider img {
  width: 100%;
}
.stock-slider__title,
.last-view-slider__title,
.similar-products-slider__title {
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #0D0D0D;
  cursor: pointer;
  transition: color 0.2s;
}
.stock-slider__title:hover,
.last-view-slider__title:hover,
.similar-products-slider__title:hover {
  color: #919191;
}
.stock-slider__date,
.last-view-slider__date,
.similar-products-slider__date {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #0D0D0D;
  margin-bottom: 0;
}
.stock-slider .slick-list,
.last-view-slider .slick-list,
.similar-products-slider .slick-list {
  padding-left: 0 !important;
}
.stock-slider .slick-prev,
.stock-slider .slick-next,
.last-view-slider .slick-prev,
.last-view-slider .slick-next,
.similar-products-slider .slick-prev,
.similar-products-slider .slick-next {
  z-index: 1;
  width: 4.4rem;
  height: 4.4rem;
}
.stock-slider .slick-prev::before,
.stock-slider .slick-next::before,
.last-view-slider .slick-prev::before,
.last-view-slider .slick-next::before,
.similar-products-slider .slick-prev::before,
.similar-products-slider .slick-next::before {
  opacity: 1;
}
.stock-slider .slick-prev,
.last-view-slider .slick-prev,
.similar-products-slider .slick-prev {
  left: -2.2rem;
  top: 9rem;
}
.stock-slider .slick-prev:hover::before,
.last-view-slider .slick-prev:hover::before,
.similar-products-slider .slick-prev:hover::before {
  background: #ffffff url(../img/stok-slider/arrow-left-green.svg) no-repeat center;
}
.stock-slider .slick-prev::before,
.last-view-slider .slick-prev::before,
.similar-products-slider .slick-prev::before {
  content: "";
  transition: 0.2s;
  display: block;
  background: #ffffff url(../img/stok-slider/arrow-left.svg) no-repeat center;
  background-size: contain;
  background-size: 1.3rem;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.stock-slider .slick-next,
.last-view-slider .slick-next,
.similar-products-slider .slick-next {
  right: -2.2rem;
  top: 9rem;
}
.stock-slider .slick-next:hover::before,
.last-view-slider .slick-next:hover::before,
.similar-products-slider .slick-next:hover::before {
  background: #ffffff url(../img/stok-slider/arrow-left-green.svg) no-repeat center;
  transform: rotate(180deg);
}
.stock-slider .slick-next::before,
.last-view-slider .slick-next::before,
.similar-products-slider .slick-next::before {
  content: "";
  transition: 0.2s;
  display: block;
  background: #ffffff url(../img/stok-slider/arrow-left.svg) no-repeat center;
  background-size: 1.3rem;
  transform: rotate(180deg);
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.last-view-slider .slick-prev,
.similar-products-slider .slick-prev {
  top: 50%;
}
.last-view-slider .slick-next,
.similar-products-slider .slick-next {
  top: 50%;
}

@media (max-width: 767px) {
  .last-view-slider .slick-list,
  .similar-products-slider .slick-list {
    padding-right: 2rem !important;
  }
}
.main-slider img {
  width: 100%;
  max-width: 100%;
  border-radius: 16px;
}
.main-slider__item {
  position: relative;
}
.main-slider__content {
  position: absolute;
  z-index: 2;
  left: 11.2rem;
  top: 50%;
  transform: translateY(-50%);
  max-width: 27.4rem;
}
.main-slider__title {
  color: #ffffff;
  font-size: 3.4rem;
  line-height: 5rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.main-slider__desc {
  color: #919191;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.8rem;
}
.main-slider .button {
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
}
.main-slider .slick-prev,
.main-slider .slick-next {
  z-index: 1;
  width: 4rem;
  height: 4rem;
}
.main-slider .slick-prev {
  left: 16px;
}
.main-slider .slick-prev::before {
  content: "";
  transition: 0.2s;
  display: block;
  background: url(../img/icons/slick-arrow.svg) no-repeat center;
  background-size: contain;
  transform: rotate(180deg);
  width: 4rem;
  height: 4rem;
}
.main-slider .slick-next {
  right: 16px;
}
.main-slider .slick-next::before {
  content: "";
  transition: 0.2s;
  display: block;
  background: url(../img/icons/slick-arrow.svg) no-repeat center;
  background-size: contain;
  width: 4rem;
  height: 4rem;
}
.main-slider .slick-dots {
  bottom: -16px;
}
.main-slider .slick-dots li {
  height: 2px;
  width: 32px;
}
.main-slider .slick-dots li.slick-active button::before {
  background: #333333;
}
.main-slider .slick-dots li button {
  height: 2px;
  width: 32px;
  padding: 0;
}
.main-slider .slick-dots li button::before {
  content: "";
  height: 2px;
  width: 32px;
  background: #BABAC0;
}
.main-slider .slick-dots li button::before {
  font-size: 1.2rem;
  color: #BABAC0;
  opacity: 1;
}
.main-slider .slick-dots li.slick-active button::before {
  color: #333333;
  opacity: 1;
}

@media (max-width: 767.98px) {
  .main-slider .slick-prev,
  .main-slider .slick-next {
    width: 3rem;
    height: 3rem;
  }
  .main-slider .slick-prev {
    left: 5px;
  }
  .main-slider .slick-prev::before {
    background-size: contain;
    width: 3rem;
    height: 3rem;
  }
  .main-slider .slick-next {
    right: 5px;
  }
  .main-slider .slick-next::before {
    background-size: contain;
    width: 3rem;
    height: 3rem;
  }
  .main-slider .slick-dots {
    bottom: 0px;
  }
  .main-slider .slick-dots li button::before {
    font-size: 0.7rem;
  }
  .main-slider .slick-dots li {
    margin: 0;
  }
}
.discounts-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1.6rem;
  grid-row-gap: 8px;
}

.page-title {
  font-size: 3.4rem;
  line-height: 4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.discounts {
  margin: 2.4rem 0;
}
.discounts__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  background: #ffffff;
  text-align: center;
  transition: 0.2s;
}
.discounts__item:hover {
  opacity: 0.8;
}
.discounts__item a {
  line-height: 1.6rem;
  text-decoration: none;
}
.discounts__item span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.discounts__item img {
  width: 100%;
  max-width: 11.6rem;
}

.slider-section {
  margin-top: 6.3rem;
  margin-bottom: 7.2rem;
}
.slider-section .main-slider {
  width: 89rem;
}
.slider-section__wrapper {
  display: flex;
  gap: 3.2rem;
}
.slider-section__products {
  flex: 1;
}
.slider-section__product {
  width: 100%;
  margin-bottom: 3.2rem;
  height: 16.4rem;
  padding: 2.4rem;
  background: #00263a;
  border-radius: 16px;
}
.slider-section__product-content {
  max-width: 19rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider-section__product-content h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}
.slider-section__product__oldprice {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-decoration-line: line-through;
  margin-bottom: 4px;
}
.slider-section__product__price {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 0;
}
.slider-section__product--first h2,
.slider-section__product--first p {
  color: #ffffff;
}
.slider-section__product--second {
  background: #FFCB12;
}
.slider-section__product--second h2 {
  color: #001974;
}
.slider-section__product--second p {
  color: #00263a;
}

.popular {
  margin-bottom: 4rem;
}
.popular__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
  margin-top: 4rem;
}
.popular__title a {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #0D0D0D;
}
.popular__title a:hover {
  opacity: 0.8;
}
.popular__title svg {
  margin-left: 1.3rem;
}
.popular__title h2 {
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 4rem;
  color: #0D0D0D;
}

.popular__item {
  position: relative;
  background: #ffffff;
  padding: 2.4rem 1.2rem 4px 1.2rem;
  border-right: 2px solid #F0F0F0;
}
.popular__item-image {
  position: relative;
}
.popular__item-image img {
  width: 100%;
}
.popular__item-category {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #7E7E83;
  margin-top: 1.6rem;
}
.popular__item-title {
  margin-top: 0.8rem;
}
.popular__item-title a {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #00263a;
  margin-bottom: 1.2rem;
  transition: color 0.2s;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}
.popular__item-title a:hover {
  color: #006499;
}
.popular__item-review {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
.popular__item-stars {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #909090;
}
.popular__item-stars svg {
  margin-right: 4px;
  cursor: pointer;
}
.popular__item-stars svg:hover path {
  fill: #FCB800;
}
.popular__item-stars img {
  margin-right: 4px;
}
.popular__item-stars span {
  margin-left: 4px;
  color: #909090;
}
.popular__item-credit {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}
.popular__item-credit span {
  background: #36b537;
  padding: 4.5px 8px;
  border-radius: 24px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #ffffff;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
}
.popular__item-credit p {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-left: 4px;
  color: #919191;
}
.popular__item-sum__sale {
  position: relative;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-decoration-line: line-through;
  color: #919191;
  margin-bottom: 4px;
}
.popular__item-sum__sale span {
  position: absolute;
  color: #D43E5D;
  right: 10px;
  text-decoration-line: none;
}
.popular__item-sum__main {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #00263a;
  margin-bottom: 0;
}
.popular__item-badge {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 1.4rem;
  background: #36b537;
  padding: 4.5px 8px;
  border-radius: 24px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  z-index: 1;
}
.popular__item-badge svg {
  margin-right: 4px;
}
.popular__item-badge--red {
  background: #FF0035;
}
.popular__item-badge--orange {
  background: #F2994A;
}

.popular-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 4rem;
}

.reklama-large {
  margin: 7.2rem 0;
}

.stock__title {
  font-size: 3.4rem;
  line-height: 4rem;
  font-weight: 600;
  color: #0D0D0D;
  margin-bottom: 3.2rem;
}

.last-view .popular__item {
  max-width: 20.2rem;
}
.last-view__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.last-view__title a {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #0D0D0D;
}
.last-view__title a:hover {
  opacity: 0.8;
}
.last-view__title svg {
  margin-left: 1.3rem;
}
.last-view__title h2 {
  font-size: 3.4rem;
  line-height: 4rem;
  font-weight: 600;
  color: #0D0D0D;
  margin-bottom: 3.2rem;
}

@media (max-width: 1024px) {
  .popular-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .discounts-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767.98px) {
  .slider-section {
    margin-top: 0;
    margin-bottom: 1.4rem;
  }
  .stock__title {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #022B4A;
    margin-bottom: 1.6rem;
  }
  .discounts-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular__title {
    margin-top: 3rem;
  }
  .popular__title h2 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.9rem;
    color: #022B4A;
    margin-bottom: 0;
  }
  .popular__item {
    padding: 2.5rem 0.8rem 0.8rem 0.8rem;
  }
  .popular__item:nth-child(even) {
    border-right: none;
  }
  .popular__item-badge {
    font-size: 0.95rem;
    line-height: 1.1rem;
  }
  .popular__item-category {
    margin-top: 1.2rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .popular__item-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .popular__item-title a {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 0.6rem;
  }
  .popular__item-credit {
    margin-bottom: 0.95rem;
    padding: 0;
  }
  .popular__item-credit span {
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 1.58px 6.33px;
  }
  .popular__item-credit p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .popular__item-sum__sale {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
  }
  .popular__item-sum__main {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .last-view__title {
    margin-top: 3rem;
    margin-bottom: 2.8rem;
  }
  .last-view__title h2 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.9rem;
    color: #022B4A;
    margin-bottom: 0;
  }
  .reklama-large {
    margin: 2.6rem 0;
  }
  .popular-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cart-wrapper {
  display: grid;
  grid-template-columns: 1fr 31.2rem;
  grid-column-gap: 8rem;
  grid-row-gap: 1rem;
  grid-template-areas: "product order" "info info";
}
@media (max-width: 1024px) {
  .cart-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "order" "product" "info";
  }
}
.cart-product, .cart-order {
  background: #ffffff;
  border-radius: 2rem;
}
.cart-product {
  grid-area: product;
}
.cart-order {
  padding: 2.4rem;
  grid-area: order;
  height: -moz-fit-content;
  height: fit-content;
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #F0F0F0;
  border-radius: 8px;
}
.cart-order__oldprice {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-decoration-line: line-through;
  margin-bottom: 4px;
  color: #B1B1B1;
}
.cart-order__price {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: #0D0D0D;
  margin-bottom: 2.4rem;
}
.cart-order__date {
  font-size: 1.4rem;
  line-height: 2rem;
}
.cart-order hr {
  color: #c4baba;
  margin: 2.4rem 0;
}
.cart-order__button {
  width: 100%;
  font-size: 1.6rem;
  padding: 1.2rem;
  line-height: 2.4rem;
  color: #0D0D0D;
  font-weight: 600;
  background: transparent;
  border: 1px solid #CDCDCD;
  border-radius: 4px;
}
.cart-order__button:hover {
  color: #ffffff;
}
@media (max-width: 1024px) {
  .cart-order {
    position: relative;
  }
}
.cart-info {
  grid-area: info;
  margin-top: 10rem;
}
@media (max-width: 767px) {
  .cart-info {
    margin-top: 3rem;
  }
}
.cart-product__product {
  display: grid;
  grid-template-columns: 51.6rem 1fr;
  grid-column-gap: 1.6rem;
  grid-row-gap: 2rem;
}
@media (max-width: 991px) {
  .cart-product__product {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .cart-product__product {
    grid-template-columns: 1fr;
  }
}
.cart-product__product-slider {
  width: 100%;
}
.cart-product__product-photo {
  position: relative;
}
.cart-product__product-heart {
  position: absolute;
  top: 2.8rem;
  right: 2.6rem;
  cursor: pointer;
}
.cart-product__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #0D0D0D;
  margin-bottom: 1.2rem;
}
.cart-product__subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 5.6rem;
  gap: 2.4rem;
}
.cart-product__subtitle p {
  margin-bottom: 0;
}
.cart-product__subtitle-stars {
  display: flex;
  align-items: center;
  gap: 5.74px;
}
.cart-product__subtitle-stars img {
  width: 14.26px;
  height: 13.63px;
}
.cart-product__subtitle-rewiev {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #7E7E83;
  text-decoration: none;
}
.cart-product__subtitle-share {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #7E7E83;
  text-decoration: none;
}
.cart-product__subtitle-share img {
  margin-right: 1rem;
}
.cart-product__arti {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #7E7E83;
}
.cart-product__arti span {
  color: #0D0D0D;
}
.cart-product__option {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  min-height: 4rem;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 1.6rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #4F4F4F;
  border: 2px solid #F0F0F0;
  border-radius: 4px;
  transition: all 0.2s;
}
.cart-product__option:last-child {
  margin-right: 0;
}
.cart-product__option:hover {
  color: #FCB800;
  border: 2px solid #FCB800;
}
.cart-product__option.active {
  border: 2px solid #FCB800;
}
.cart-product__option-description__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.cart-product__option-description__item span {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}
.cart-product__option-description__item-name {
  color: #4F4F4F;
}
.cart-product__option-description__item-info {
  color: #333333;
  min-width: -moz-max-content;
  min-width: max-content;
}
.cart-product__option-description__item .line {
  position: relative;
  top: -5px;
  margin: 0 1.2rem;
  width: 100%;
  border-bottom: 1px dashed #BDBDBD;
}
.cart-product__title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: #0D0D0D;
}
.cart-product__options {
  margin-top: 2.4rem;
}
.cart-product__options-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.cart-product__options-showall {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #3959FE;
  cursor: pointer;
  margin-top: 1.2rem;
}
.cart-product__options-showall:hover {
  opacity: 0.8;
}
.cart-product__options-allproduct {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #3959FE;
  cursor: pointer;
  margin-top: 3.2rem;
}
.cart-product__options-allproduct:hover {
  opacity: 0.8;
}
.cart-product__options-allproduct img {
  margin-right: 1.2rem;
}
.cart-product__descriptions-colors {
  margin-top: 2rem;
}
.cart-product__descriptions-colors p {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #919191;
  margin-bottom: 1.2rem;
}
.cart-product__descriptions-colors-wrapper {
  display: flex;
  align-items: center;
}
.cart-product__descriptions-color {
  width: 4rem;
  height: 4rem;
  border: 1px solid #00263a;
  border-radius: 8px;
  margin-right: 1.2rem;
  transition: border 0.2s;
}
.cart-product__descriptions-color:last-child {
  margin-right: 0;
}
.cart-product__descriptions-color:hover {
  border: 4px solid #bf9959;
}
.cart-product__descriptions-color.purple {
  background: #5c03a2;
}
.cart-product__descriptions-color.blue {
  background: #00263a;
}
.cart-product__descriptions-color.white {
  background: #ffffff;
}
.cart-product__descriptions-color.red {
  background: #b61616;
}
.cart-product__descriptions-color.active {
  border: 4px solid #bf9959;
}
.cart-product__descriptions-amount {
  margin-top: 2rem;
}
.cart-product__descriptions-amount-wrapper {
  display: flex;
  align-items: center;
}
.cart-product__descriptions-amount p {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #919191;
  margin-bottom: 1.2rem;
}
.cart-product__descriptions-amount-input {
  height: 3.6rem;
  width: 3.6rem;
  margin-left: -1px;
  margin-right: -1px;
  border: 1px solid #eeeeee;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #00263a;
  text-align: center;
  padding: 0 0.3rem;
}
.cart-product__descriptions-amount-input::-webkit-inner-spin-button, .cart-product__descriptions-amount-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.cart-product__descriptions-amount-btn {
  height: 3.6rem;
  width: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eeeeee;
  background: #ffffff;
  color: #919191;
}
.cart-product__descriptions-amount-btn:disabled {
  pointer-events: none;
}
.cart-product__descriptions-amount-btn:hover svg path {
  stroke: #00263a;
  transition: 0.2s;
}
.cart-product__descriptions-description {
  margin-top: 2rem;
}
.cart-product__descriptions-description p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #00263a;
  margin-bottom: 1rem;
}
.cart-product__descriptions-description p:first-child {
  color: #919191;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
}
.cart-product__descriptions-description__showall {
  cursor: pointer;
  display: block;
  text-align: center;
  color: #006499;
  line-height: 1.4rem;
  font-size: 1.4rem;
}
.cart-order__title {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #919191;
  font-weight: 400;
  margin-bottom: 1rem;
}
.cart-order__magazine {
  background: #bf9959;
  border-radius: 222px;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
}
.cart-order__buy .button {
  width: 100%;
}
.cart-order__product {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cart-order__product img {
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
}
.cart-order__product-right__title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 500;
  color: #00263a;
  margin-bottom: 1rem;
}
.cart-order__product-right__oldprice {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #919191;
  text-decoration-line: line-through;
  margin-bottom: 1rem;
}
.cart-order__product-right__price {
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 600;
  color: #00263a;
  margin-bottom: 0;
}

.salespeople-tab__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2.4rem 0.8rem 3.2rem;
  border: 1px solid #D8D7DC;
  border-radius: 8px;
  transition: background 0.2s;
  margin-bottom: 2.4rem;
}
@media (max-width: 767px) {
  .salespeople-tab__item {
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }
}
.salespeople-tab__title img {
  margin-bottom: 2px;
}
.salespeople-tab__review {
  font-size: 1.2rem;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .salespeople-tab__review {
    display: none;
  }
}
.salespeople-tab__review img {
  margin-right: 4px;
}
.salespeople-tab__review-text {
  color: #3959FE;
  font-weight: 500;
  margin-right: 5px;
}
.salespeople-tab__review-number {
  color: #AEAEB2;
  font-weight: 500;
  margin-right: 5px;
}
.salespeople-tab__payment-title {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 4px;
  color: #919191;
}
.salespeople-tab__payment-sum {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: #919191;
  display: flex;
  align-items: center;
}
.salespeople-tab__payment-sum span {
  margin-right: 7px;
  padding: 2.6px 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #ffffff;
  background: #36B537;
  border-radius: 16px;
}
.salespeople-tab__price-title {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #919191;
  margin-bottom: 4px;
}
.salespeople-tab__price-sum {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #00263a;
}
.salespeople-tab__button {
  padding: 0.8rem 2.4rem;
  border-radius: 4px;
  width: 100%;
  max-width: 26.3rem;
}
@media (max-width: 767px) {
  .salespeople-tab__button {
    max-width: 100%;
  }
}

.description-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .description-tab {
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
  }
}
.description-tab__item {
  margin-bottom: 3rem;
}
.description-tab__item-title {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #00263a;
}
.description-tab__item-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.description-tab__item-option p,
.description-tab__item-option span {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.description-tab__item-option p {
  color: #919191;
  margin-bottom: 0;
}
.description-tab__item-option span {
  color: #00263a;
}

.review-tab__item {
  padding: 1.6rem 2.4rem;
  margin-bottom: 2rem;
  border: 1px solid #eeeeee;
  border-radius: 20px;
}
.review-tab__stars img {
  margin-right: 6px;
  margin-bottom: 1rem;
}
.review-tab__text {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: #00263a;
  margin-bottom: 2rem;
}
.review-tab__text-showall {
  text-align: center;
  color: #006499;
  font-size: 1.6rem;
  background-image: linear-gradient();
  margin-bottom: 2rem;
  cursor: pointer;
}
.review-tab__name {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #919191;
}
.review-tab__name span {
  color: #919191;
}
.review-tab__name-dot {
  width: 5px;
  height: 5px;
  background: #919191;
  margin: 0 8px;
  border-radius: 50%;
}

.similar-products .popular__item {
  max-width: 26.4rem;
}
.similar-products__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 4rem;
  color: #0D0D0D;
  font-weight: 700;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: 26rem 1fr;
  grid-column-gap: 7.2rem;
}
@media (max-width: 1024px) {
  .cards-wrapper {
    grid-template-columns: 20rem 1fr;
  }
}
@media (max-width: 767px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}

.cards-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 4rem;
}
@media (max-width: 1024px) {
  .cards-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .cards-items {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.cards-sort {
  max-width: 31.2rem;
  position: relative;
}
.cards-sort img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.7rem;
}
.cards-sort select {
  padding: 0.8rem 1.6rem;
  background: #F0F0F0;
  border-radius: 4px;
  border: none;
  max-width: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 3.2rem;
}
.cards-sort select option {
  background: #ffffff;
}
.cards-sort select:focus {
  background: #F0F0F0;
  box-shadow: none;
}

.sidebar__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.sidebar__back {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  cursor: pointer;
}
.sidebar__back svg {
  margin-right: 0.9rem;
}
.sidebar__links {
  margin-bottom: 3.2rem;
}
.sidebar__link {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0.8rem;
  color: #7E7E83;
}
.sidebar__link:hover {
  color: #0D0D0D;
}
.sidebar__link.active {
  color: #0D0D0D;
}

.price-range-block__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.price-range-block__inputs {
  display: flex;
  gap: 1.6rem;
}
.price-range-block__input {
  width: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0.8rem;
  border: 1px solid #BABAC0;
  border-radius: 4px;
}
.price-range-block__input::-moz-placeholder {
  color: #BABAC0;
}
.price-range-block__input::placeholder {
  color: #BABAC0;
}

.sidebar-options {
  margin-bottom: 3.2rem;
}
.sidebar-options__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.sidebar-options__item input {
  margin-right: 1.05rem;
  width: 1.5rem;
  height: 1.5rem;
}
.sidebar-options__item input:focus {
  box-shadow: none;
}

.cards-button-more {
  padding: 1.2rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  background: transparent;
}
.cards-button-more:hover {
  background: rgba(0, 0, 0, 0.05);
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.pagination__item {
  padding: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid #DFDEE2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: #4F4F4F;
  transition: 0.3s;
}
.pagination__item.more {
  border: 1px solid transparent;
}
.pagination__item.active {
  border: 1px solid #3959FE;
  color: #3959FE;
}
.pagination__item:hover {
  color: #00263a;
  border: 1px solid #00263a;
}
.pagination__next, .pagination__prev {
  width: 3.2rem;
  height: 3.2rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.pagination__next.disabled, .pagination__prev.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.pagination__next:hover, .pagination__prev:hover {
  border-radius: 4px;
  border: 1px solid #00263a;
}
.pagination__next svg {
  transform: rotate(180deg);
}

.login {
  margin-top: 4rem;
}
.login__wrapper {
  position: relative;
  padding: 4rem 3.2rem;
  margin: 0 auto;
  max-width: 42rem;
  border: 1px solid #F0F0F0;
  border-radius: 8px;
}
.login__back {
  position: absolute;
  left: -2.5rem;
  top: 1.6rem;
  width: 5.2rem;
  height: 5.2rem;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 51, 129, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  text-align: center;
  color: #0D0D0D;
  margin-bottom: 4rem;
}
.login__recover {
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #3959FE;
  display: flex;
  justify-content: flex-end;
}
.login__recover:hover {
  opacity: 0.8;
}
.login__link {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #0D0D0D;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
}
.login__link a {
  color: #3959FE;
  margin-left: 1.6rem;
  display: block;
}
.login__link a:hover {
  opacity: 0.8;
}

.form-group {
  margin-top: 2.4rem;
}
.form-group label {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #0D0D0D;
  margin-bottom: 4px;
}
.form-group input {
  padding: 1.4rem 1.6rem;
  font-size: 1.4rem;
  line-height: 2rem;
}
.form-group input::-moz-placeholder {
  color: #919191;
  font-size: 1.4rem;
  line-height: 2rem;
}
.form-group input::placeholder {
  color: #919191;
  font-size: 1.4rem;
  line-height: 2rem;
}

.button-login {
  padding: 1.2rem;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 2.4rem;
}

.button-register {
  background: transparent;
  padding: 1.2rem;
  border-radius: 4px;
  width: 100%;
  color: #0D0D0D;
  font-size: 1.6rem;
  border: 1px solid #CDCDCD;
  line-height: 2.4rem;
}
.button-register:hover {
  color: #fff;
}

.form {
  margin-top: 2rem;
}
.form__item {
  margin-bottom: 3rem;
}
.form__title {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #919191;
}
.form__group {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-bottom: 2rem;
}
.form__group--2 {
  grid-template-columns: 1fr 1fr;
}
.form__group--3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.form__group--4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.form__group--5 {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
@media (max-width: 1024px) {
  .form__group--2 {
    grid-template-columns: 1fr 1fr;
  }
  .form__group--3 {
    grid-template-columns: 1fr 1fr;
  }
  .form__group--4 {
    grid-template-columns: 1fr 1fr;
  }
  .form__group--5 {
    grid-template-columns: 1fr 1fr;
  }
}
.form__credit {
  margin-top: 2rem;
}
.form__credit-title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: #919191;
}
.form__credit-result-wrapper {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #919191;
  font-weight: 400;
}
.form__credit-result {
  margin-top: 1rem;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(191, 153, 89, 0.33);
  border-radius: 6px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: #00263a;
}

.form-item {
  position: relative;
}
.form-item input {
  width: 100%;
  padding: 1.6rem 1.2rem;
  border: 1px solid #919191;
  border-radius: 6px;
  color: #00263a;
}
.form-item select {
  width: 100%;
  height: 5.8rem;
  padding: 1.6rem 1.2rem;
  border: 1px solid #919191;
  border-radius: 6px;
  color: #00263a;
  background: #ffffff;
  background: url(../img/icons/arrow-select.svg) no-repeat;
  background-size: 1rem;
  background-position: top 50% right 18px;
  -webkit-appearance: none;
}
.form-item option {
  background: #ffffff;
}
.form-item::-moz-placeholder {
  color: #919191;
}
.form-item::placeholder {
  color: #919191;
}
.form-item label {
  position: absolute;
  background: #ffffff;
  left: 16px;
  top: -6px;
  padding: 0 4px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: #919191;
}

.radio-options {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.radio-option {
  display: flex;
  align-items: center;
  height: 4.2rem;
  padding: 1.1rem;
  cursor: pointer;
}
.radio-option input {
  position: relative;
  top: -1px;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.radio-options label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-height: 12rem;
  width: 100%;
  cursor: pointer;
  background: #f3f3f3;
  border-radius: 12px;
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #00263a;
}
.radio-options label:last-child {
  margin-right: 0;
}
.radio-options label img {
  margin-top: 1rem;
}

.radio-option input[type=radio]:checked + label {
  font-weight: bold;
}

.custom-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #919191;
  border-radius: 6px;
}

.custom-radio-item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 1px solid #eeeeee;
}
.custom-radio-item:last-child {
  border-right: none;
}

.custom-radio-input {
  display: none;
}

.custom-radio-label {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 1.4rem;
  padding: 1rem;
  width: 100%;
  color: #00263a;
}
.custom-radio-label:hover {
  background: rgba(191, 153, 89, 0.1);
}

.custom-radio-input:checked + .custom-radio-label {
  background: rgba(191, 153, 89, 0.33);
}

.payment-block {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}
.payment-block .form__item {
  margin-bottom: 0;
}
.payment-block .form__item .form__group:last-child {
  margin-bottom: 0;
}
.payment-block__checkboxs {
  padding-left: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.payment-block__checkboxs .form-check {
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.payment-block__checkboxs .form-check-label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.17px;
  color: #00263a;
}
.payment-block__checkboxs .form-check-input {
  min-width: 1.8rem;
  height: 1.8rem;
  margin-right: 1.2rem;
  border-color: #919191 !important;
  border-width: 2px;
}

:root {
  --bs-font-sans-serif: "Inter", system-ui, Tahoma, sans-serif !important;
}

body {
  background-color: #ffffff !important;
  font-family: "Inter", system-ui, Tahoma, sans-serif !important;
}

.main {
  margin-top: 3.2rem;
  padding-bottom: 12rem;
}

@media (max-width: 767px) {
  main {
    margin-top: 1.6rem;
    padding-bottom: 2.4rem;
  }
}
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #ffffff;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #00263a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

.breadcrumb {
  margin: 3.2rem 0;
}
.breadcrumb__link {
  font-size: 1.4rem;
  color: #919191;
  text-decoration: none;
}
.breadcrumb__link:hover {
  color: #00263a;
}
.breadcrumb__link::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  width: 1px;
  margin: 0 8px;
  margin-left: 9px;
  height: 1.7rem;
  background: #919191;
  transform: rotate(15deg);
}
.breadcrumb__link:last-child::after {
  content: none;
}

.nav-tabs-custom {
  border-bottom: 3px solid #F0F0F0;
}
.nav-tabs-custom .nav-item:last-child .nav-link {
  margin-right: 0;
}
.nav-tabs-custom .nav-link {
  color: #BDBDBD;
  background: transparent;
  border: none;
  padding: 0;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  transition: all 0.2s;
  border-bottom: 3px solid transparent;
  margin-right: 4.8rem;
  position: relative;
  top: 3px;
}
@media (max-width: 767px) {
  .nav-tabs-custom .nav-link {
    font-size: 1.4rem;
    font-weight: 700;
    margin-right: 2.3rem;
  }
}
.nav-tabs-custom .nav-link:hover {
  color: #0D0D0D;
  border-bottom: 3px solid #bf9959;
}
.nav-tabs-custom .nav-link.active {
  color: #0D0D0D;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #bf9959;
}

.tab-content-custom {
  margin-bottom: 7.2rem;
}
.tab-content-custom .tab-pane {
  padding-top: 3.2rem;
}
@media (max-width: 767px) {
  .tab-content-custom .tab-pane {
    padding-top: 1.6rem;
  }
}

.text-more {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: all 0.2s;
}/*# sourceMappingURL=index.css.map */