@charset "UTF-8";
html {
  font-size: 10px;
  font-family: Roboto, system-ui, Tahoma, sans-serif;
}

@media screen and (max-width: 374px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  html {
    font-size: calc(10px + 10 * (100vw - 375px) / 392);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: calc(8px + 2.7 * (100vw - 768px) / 255);
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: calc(7.4px + 2 * (100vw - 1024px) / 256);
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  html {
    font-size: calc(9px + 0.5 * (100vw - 1280px) / 160);
  }
}
@media (min-width: 1440px) {
  html {
    font-size: calc(10px * (100vw - 1600px) / 240);
  }
}
body {
  font-size: 1.6rem !important;
  line-height: 2.4rem !important;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000000;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #000000;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

@font-face {
  font-family: "D-DIN";
  src: url("../fonts/dinpro.otf");
}
@font-face {
  font-family: "D-DIN-Bold";
  src: url("../fonts/D-DIN-Bold.otf");
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  box-shadow: none;
  background: #bf9959;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border: 1px solid transparent;
}
.button:hover {
  background: #ac8a50;
}
.button:active {
  background: #997a47;
}
.button__icon {
  margin-right: 1rem;
}
.button:disabled {
  background: #f4f4f4;
  color: #b3bec4;
  cursor: none;
}
.button--secondary {
  font-family: "D-DIN";
  background: #59bf8e;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 1px solid #59bf8e;
}
.button--secondary:hover {
  background: #50ac80;
}
.button--secondary:active {
  background: #357355;
}
.button--accent {
  font-family: "D-DIN";
  background: #bf9959;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 1px solid #bf9959;
}
.button--accent:hover {
  background: #ac8a50;
}
.button--accent:active {
  background: #997a47;
}
.button--critical {
  font-family: "D-DIN";
  background: #df0613;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 1px solid #df0613;
}
.button--critical:hover {
  background: #b1040e;
}
.button--critical:active {
  background: #84040c;
}
.button--ghost {
  font-family: "D-DIN";
  background: transparent;
  color: #59bf8e;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 1px solid #59bf8e;
}
.button--ghost:hover {
  color: #50ac80;
  border: 1px solid #50ac80;
}
.button--ghost:active {
  background: #357355;
  color: #ffffff;
}
.button--outline {
  background: transparent;
  color: #59bf8e;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 1px solid #59bf8e;
  font-family: "D-DIN";
}
.button--outline:hover {
  color: #ffffff;
  background: #50ac80;
  border: 1px solid #50ac80;
}
.button--outline:active {
  background: #357355;
  border: 1px solid #357355;
  color: #ffffff;
}
.button--xxl {
  padding: 1.6rem 2.4rem;
}
.button--xl {
  padding: 1.2rem 2.4rem;
}
.button--l {
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
}
.button--m {
  padding: 0.4rem 2.4rem;
  font-size: 1.4rem;
}
.button--m__icon {
  margin-right: 0.97rem;
}
.button--s {
  padding: 0.25rem 2.4rem 0.15rem 2.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
}
.button--s__icon {
  margin-right: 0.93rem;
}

.container {
  max-width: 123rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.header {
  padding: 1rem 0 2rem 0;
  background-color: #00263a;
}
.header__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.header__location {
  display: flex;
  align-items: center;
}
.header__location svg {
  margin-right: 1.125rem;
}
.header__location span {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.header__lang {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.header__lang span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-left: 6px;
  color: #ffffff;
}
.header__link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.header__link:last-child {
  margin-right: 0;
}
.header__content {
  display: flex;
  align-items: center;
}
.header .catalog-button {
  margin-right: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.2rem 1.6rem;
}
.header__logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.header__logo img {
  width: 10.7rem;
}
.header__search {
  width: 100%;
  max-width: 66.4rem;
  margin-right: 2rem;
  position: relative;
}
.header__search-logo {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.header__search input {
  padding: 1.2rem 1.6rem;
  padding-left: 5rem;
  height: 48px;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #e6e9eb;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.header__search input:hover {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6.4rem;
  text-decoration: none;
  margin-right: 2.4rem;
}
.header__button span {
  height: 1.6rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: initial;
  color: #ffffff;
}
.header__button svg {
  width: 3rem;
  height: 3rem;
  margin-bottom: 4px;
}
.header__button:last-child {
  margin-right: 0;
}

.main-slider {
  margin-bottom: 0 !important;
}
.main-slider img {
  width: 100%;
  max-width: 100%;
  border-radius: 16px;
}
.main-slider .slick-prev,
.main-slider .slick-next {
  z-index: 1;
  width: 5rem;
  height: 5rem;
}
.main-slider .slick-prev {
  left: 20px;
}
.main-slider .slick-prev::before {
  content: "";
  transition: 0.2s;
  display: block;
  background: url(../img/icons/slick-arrow.svg) no-repeat center;
  background-size: contain;
  transform: rotate(180deg);
  width: 5rem;
  height: 5rem;
}
.main-slider .slick-next {
  right: 20px;
}
.main-slider .slick-next::before {
  content: "";
  transition: 0.2s;
  display: block;
  background: url(../img/icons/slick-arrow.svg) no-repeat center;
  background-size: contain;
  width: 5rem;
  height: 5rem;
}
.main-slider .slick-dots {
  bottom: 20px;
}
.main-slider .slick-dots li button::before {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.main-slider .slick-dots li.slick-active button::before {
  color: #ffffff;
  opacity: 1;
}

@media (max-width: 767.98px) {
  .main-slider .slick-prev,
.main-slider .slick-next {
    width: 3rem;
    height: 3rem;
  }
  .main-slider .slick-prev {
    left: 5px;
  }
  .main-slider .slick-prev::before {
    background-size: contain;
    width: 3rem;
    height: 3rem;
  }
  .main-slider .slick-next {
    right: 5px;
  }
  .main-slider .slick-next::before {
    background-size: contain;
    width: 3rem;
    height: 3rem;
  }
  .main-slider .slick-dots {
    bottom: 0px;
  }
  .main-slider .slick-dots li button::before {
    font-size: 0.7rem;
  }
  .main-slider .slick-dots li {
    margin: 0;
  }
}
.discounts-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1.6rem;
  grid-row-gap: 8px;
}

.discounts {
  margin: 2.4rem 0;
}
.discounts__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  background: #ffffff;
  text-align: center;
  transition: 0.2s;
}
.discounts__item:hover {
  opacity: 0.8;
}
.discounts__item a {
  line-height: 1.6rem;
  text-decoration: none;
}
.discounts__item span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.discounts__item img {
  width: 100%;
  max-width: 11.6rem;
}

.main-slider-section {
  margin-bottom: 4rem;
}

.popular {
  margin-bottom: 4rem;
}
.popular__title {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.popular__item {
  background: #ffffff;
  padding: 1.6rem;
  border-radius: 10px;
  margin-bottom: 8px;
}
.popular__item-image {
  position: relative;
}
.popular__item-image img {
  width: 100%;
}
.popular__item-title {
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 3rem;
}
.popular__item-title a {
  line-height: 1.9rem;
  color: #00263a;
  margin-bottom: 1.1rem;
  transition: color 0.2s;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}
.popular__item-title a:hover {
  color: #006499;
}
.popular__item-review {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.popular__item-reviews {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #909090;
  transition: color 0.2s;
  text-decoration: none;
}
.popular__item-reviews:hover {
  color: #80939d;
}
.popular__item-stars {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #909090;
}
.popular__item-stars img {
  margin-right: 4px;
}
.popular__item-stars span {
  margin-left: 4px;
  color: #909090;
}
.popular__item-credit {
  padding: 4px 8px;
  font-weight: 400;
  background: rgba(80, 172, 128, 0.3);
  border-radius: 3px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #00522b;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
}
.popular__item-sum__sale {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #919191;
  margin-bottom: 1rem;
}
.popular__item-sum__main {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: #00263a;
  margin-bottom: 0;
}
.popular__item-heart {
  position: absolute;
  top: 1.5rem;
  right: 1.4rem;
  cursor: pointer;
}
.popular__item-heart:hover path {
  fill: #00263a;
}
.popular__item-heart.active path {
  fill: #00263a;
}
.popular__item-heart.active path:hover {
  fill: #00263a;
  opacity: 0.8;
}
.popular__item-heart path {
  transition: fill 0.2s;
}

.popular-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1.6rem;
  grid-row-gap: 8px;
}

@media (max-width: 1024px) {
  .popular-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .discounts-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767.98px) {
  .discounts-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular__title {
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin-top: 3rem;
  }
  .popular__item-title {
    font-size: 1.4rem;
    margin-top: 2rem;
  }
  .popular__item-heart {
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
  }
  .popular__item-sum__sale {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 6px;
  }
  .popular__item-sum__main {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .popular__item-stars {
    font-size: 1.2rem;
  }
  .popular__item-reviews {
    font-size: 1.2rem;
  }
  .popular-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cart-wrapper {
  display: grid;
  grid-template-columns: 1fr 36.9rem;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
.cart-product, .cart-order {
  background: #ffffff;
  padding: 2rem;
  border-radius: 2rem;
}
.cart-order {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.cart-info {
  background: #ffffff;
  padding: 2rem;
  border-radius: 2rem;
}
.cart-product__product {
  display: grid;
  grid-template-columns: 45rem 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.cart-product__product-slider {
  width: 100%;
}
.cart-product__title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #00263a;
  margin-bottom: 1rem;
}
.cart-product__arti {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #919191;
  margin-bottom: 2rem;
}
.cart-product__options-review {
  font-size: 1.4rem;
  line-height: 1.4rem;
  display: flex;
  align-items: center;
}
.cart-product__options-review span {
  color: #919191;
}
.cart-product__options-star {
  margin-right: 4px;
}
.cart-product__options-reviews {
  margin-left: 4px;
  color: #919191;
}
.cart-product__options-colors {
  margin-top: 2rem;
}
.cart-product__options-colors p {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #919191;
  margin-bottom: 1.2rem;
}
.cart-product__options-colors-wrapper {
  display: flex;
  align-items: center;
}
.cart-product__options-color {
  width: 4rem;
  height: 4rem;
  border: 4px solid transparent;
  border-radius: 8px;
  margin-right: 1.2rem;
  transition: border 0.2s;
}
.cart-product__options-color:last-child {
  margin-right: 0;
}
.cart-product__options-color:hover {
  border: 4px solid #bf9959;
}
.cart-product__options-color.purple {
  background: #5c03a2;
}
.cart-product__options-color.blue {
  background: #00263a;
}
.cart-product__options-color.white {
  background: #ffffff;
}
.cart-product__options-color.red {
  background: #b61616;
}
.cart-product__options-color.active {
  border: 4px solid #bf9959;
}
.cart-product__options-options {
  margin-top: 2rem;
}
.cart-product__options-options-wrapper {
  display: flex;
  align-items: center;
}
.cart-product__options-options p {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #919191;
  margin-bottom: 1.2rem;
}
.cart-product__options-option {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 3.4rem;
  padding: 1rem;
  margin-right: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #00263a;
  border: 2px solid #00263a;
  border-radius: 6px;
  transition: all 0.2s;
}
.cart-product__options-option:last-child {
  margin-right: 0;
}
.cart-product__options-option:hover {
  color: #bf9959;
  border: 2px solid #bf9959;
}
.cart-product__options-option.active {
  color: #bf9959;
  border: 2px solid #bf9959;
}
.cart-product__options-salespeoples {
  margin-top: 2rem;
}
.cart-product__options-salespeoples p {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #919191;
  margin-bottom: 1.2rem;
}
.cart-product__options-salespeoples-wrapper {
  display: flex;
  align-items: center;
}
.cart-product__options-salespeople {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.4rem;
  padding: 1rem;
  margin-right: 1rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: #00263a;
  background: rgba(191, 153, 89, 0.33);
  border-radius: 22rem;
  border: none;
  transition: all 0.3s;
}
.cart-product__options-salespeople:last-child {
  margin-left: 0;
}
.cart-product__options-salespeople:hover {
  background: #bf9959;
  color: #ffffff;
}
.cart-product__options-salespeople.active {
  background: #bf9959;
  color: #ffffff;
}
.cart-product__options-amount {
  margin-top: 2rem;
}
.cart-product__options-amount-wrapper {
  display: flex;
  align-items: center;
}
.cart-product__options-amount p {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #919191;
  margin-bottom: 1.2rem;
}
.cart-product__options-amount-input {
  height: 3.6rem;
  width: 3.6rem;
  margin-left: -1px;
  margin-right: -1px;
  border: 1px solid #eeeeee;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #00263a;
  text-align: center;
  padding: 0 0.3rem;
}
.cart-product__options-amount-input::-webkit-inner-spin-button, .cart-product__options-amount-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.cart-product__options-amount-btn {
  height: 3.6rem;
  width: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eeeeee;
  background: #ffffff;
  color: #919191;
}
.cart-product__options-amount-btn:disabled {
  pointer-events: none;
}
.cart-product__options-amount-btn:hover svg path {
  stroke: #00263a;
  transition: 0.2s;
}
.cart-product__options-description {
  margin-top: 2rem;
}
.cart-product__options-description p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #00263a;
  margin-bottom: 1rem;
}
.cart-product__options-description p:first-child {
  color: #919191;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
}
.cart-product__options-description__showall {
  cursor: pointer;
  display: block;
  text-align: center;
  color: #006499;
  line-height: 1.4rem;
  font-size: 1.4rem;
}

.salespeople-tab__item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2.4rem 0;
  transition: background 0.2s;
}
.salespeople-tab__item:hover {
  background: #eeeeee;
}
.salespeople-tab__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #00263a;
}
.salespeople-tab__payment p {
  margin-bottom: 0;
}
.salespeople-tab__payment-title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #919191;
}
.salespeople-tab__payment-sum {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #00263a;
}
.salespeople-tab__payment-sum span {
  margin-left: 7px;
  background: rgba(191, 153, 89, 0.33);
  border-radius: 222px;
  padding: 4px 8px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
}
.salespeople-tab__price p {
  margin-bottom: 0;
}
.salespeople-tab__price-title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #919191;
}
.salespeople-tab__price-sum {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #00263a;
}
.salespeople-tab__button {
  padding: 1.2rem 2.4rem;
}

.description-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  margin-top: 4rem;
}
.description-tab__item {
  margin-bottom: 3rem;
}
.description-tab__item-title {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #00263a;
}
.description-tab__item-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.description-tab__item-option p,
.description-tab__item-option span {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.description-tab__item-option p {
  color: #919191;
  margin-bottom: 0;
}
.description-tab__item-option span {
  color: #00263a;
}

body {
  background-color: #f0f1f2 !important;
  font-family: Roboto, system-ui, Tahoma, sans-serif !important;
}

.main {
  margin-top: 2rem;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #ffffff;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #00263a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

.breadcrumb {
  margin: 2rem 0;
}
.breadcrumb__link {
  font-size: 1.4rem;
  color: #919191;
  text-decoration: none;
}
.breadcrumb__link:hover {
  color: #00263a;
}
.breadcrumb__link::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  width: 1px;
  margin: 0 8px;
  margin-left: 9px;
  height: 1.7rem;
  background: #919191;
  transform: rotate(15deg);
}
.breadcrumb__link:last-child::after {
  content: none;
}
.breadcrumb__link.active {
  color: #00263a;
}

.nav-tabs-custom .nav-link {
  color: #00263a;
  background: transparent;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: all 0.2s;
  border-bottom: 1px solid transparent;
}
.nav-tabs-custom .nav-link:hover {
  color: #00263a;
  border-bottom: 1px solid #00263a;
}
.nav-tabs-custom .nav-link.active {
  color: #bf9959;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bf9959;
}

#text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}/*# sourceMappingURL=index.css.map */