.cart {
    &-wrapper {
        display: grid;
        grid-template-columns: 1fr 36.9rem;

        grid-column-gap: 2rem;
        grid-row-gap: 1rem;

        grid-template-areas:
            'product order'
            'info none';
        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-template-areas:
                'order'
                'product'
                'info';
        }
    }
    &-product,
    &-order {
        background: $white;
        padding: 2rem;
        border-radius: 2rem;
    }
    &-product {
        grid-area: product;
    }
    &-order {
        grid-area: order;
        height: fit-content;
        position: sticky;
        @media (max-width: 1024px) {
            position: relative;
        }
        top: 0;
    }
    &-info {
        grid-area: info;
        background: $white;
        padding: 2rem;
        border-radius: 2rem;
    }
    &-product {
        &__product {
            display: grid;
            grid-template-columns: 45rem 1fr;
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;
            // img {
            //     // width: 100%;
            // }
            &-slider {
                width: 100%;
            }
        }
        &__title {
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 3.1rem;
            color: $brand-black;
            margin-bottom: 1rem;
        }
        &__arti {
            font-size: 1.4rem;
            line-height: 1.4rem;
            color: $text-secondary;
            margin-bottom: 2rem;
        }
        &__options {
            &-review {
                font-size: 1.4rem;
                line-height: 1.4rem;

                display: flex;
                align-items: center;
                span {
                    color: $text-secondary;
                }
            }
            &-star {
                margin-right: 4px;
            }
            &-reviews {
                margin-left: 4px;
                color: $text-secondary;
            }
            &-colors {
                margin-top: 2rem;
                p {
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    color: $text-secondary;
                    margin-bottom: 1.2rem;
                }
                &-wrapper {
                    display: flex;
                    align-items: center;
                }
            }
            &-color {
                width: 4rem;
                height: 4rem;
                border: 4px solid transparent;
                border-radius: 8px;
                margin-right: 1.2rem;
                transition: border 0.2s;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    border: 4px solid #bf9959;
                }
                &.purple {
                    background: #5c03a2;
                }
                &.blue {
                    background: $brand-black;
                }
                &.white {
                    background: $white;
                }
                &.red {
                    background: #b61616;
                }
                &.active {
                    border: 4px solid #bf9959;
                }
            }
            &-options {
                margin-top: 2rem;
                &-wrapper {
                    display: flex;
                    align-items: center;
                }
                p {
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    color: $text-secondary;
                    margin-bottom: 1.2rem;
                }
            }
            &-option {
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                height: 3.4rem;
                padding: 1rem;
                margin-right: 1rem;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 1.4rem;
                color: $brand-black;
                border: 2px solid $brand-black;
                border-radius: 6px;
                transition: all 0.2s;

                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    color: $brand-primary;
                    border: 2px solid $brand-primary;
                }
                &.active {
                    color: $brand-primary;
                    border: 2px solid $brand-primary;
                }
            }
            &-salespeoples {
                margin-top: 2rem;
                p {
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    color: $text-secondary;
                    margin-bottom: 1rem;
                }
                &-wrapper {
                    display: flex;
                    align-items: center;
                }
                span {
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                    font-weight: 700;
                }
            }
            &-salespeople {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3.4rem;
                padding: 1rem;
                margin-right: 1rem;
                font-size: 1.4rem;
                line-height: 1.4rem;
                font-weight: 400;
                color: $brand-black;
                background: rgba(191, 153, 89, 0.33);
                border-radius: 22rem;
                border: none;
                transition: all 0.3s;
                &:last-child {
                    margin-left: 0;
                }
                &:hover {
                    background: $brand-primary;
                    color: $white;
                }
                &.active {
                    background: $brand-primary;
                    color: $white;
                }
            }
            &-amount {
                margin-top: 2rem;
                &-wrapper {
                    display: flex;
                    align-items: center;
                }
                p {
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    color: $text-secondary;
                    margin-bottom: 1.2rem;
                }
                &-input {
                    height: 3.6rem;
                    width: 3.6rem;
                    margin-left: -1px;
                    margin-right: -1px;
                    border: 1px solid #eeeeee;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    font-weight: 400;
                    color: $brand-black;
                    text-align: center;
                    padding: 0 0.3rem;
                    &::-webkit-inner-spin-button,
                    &::-webkit-inner-spin-button {
                        /* display: none; <- Crashes Chrome on hover */
                        -webkit-appearance: none;
                        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                    }
                }
                &-btn {
                    height: 3.6rem;
                    width: 3.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #eeeeee;
                    background: $white;
                    color: $text-secondary;
                    &:disabled {
                        pointer-events: none;
                    }
                    &:hover {
                        svg {
                            path {
                                stroke: $brand-black;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }
            &-description {
                margin-top: 2rem;

                p {
                    &:first-child {
                        color: $text-secondary;
                        line-height: 1.4rem;
                        margin-bottom: 1.2rem;
                    }

                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    color: $brand-black;
                    margin-bottom: 1rem;
                }
                &__showall {
                    cursor: pointer;
                    display: block;
                    text-align: center;
                    color: #006499;
                    line-height: 1.4rem;
                    font-size: 1.4rem;
                }
            }
        }
    }
}
.salespeople-tab {
    &__item {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 2.4rem 0;
        transition: background 0.2s;
        &:hover {
            background: $border-light;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        color: $brand-black;
    }
    &__payment {
        p {
            margin-bottom: 0;
        }
        &-title {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: $text-secondary;
        }
        &-sum {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.4rem;
            color: $brand-black;

            span {
                margin-left: 7px;
                background: rgba(191, 153, 89, 0.33);
                border-radius: 222px;
                padding: 4px 8px;
                font-size: 1.4rem;
                line-height: 1.4rem;
                font-weight: 400;
            }
        }
    }
    &__price {
        p {
            margin-bottom: 0;
        }
        &-title {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: $text-secondary;
        }
        &-sum {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.4rem;
            color: $brand-black;
        }
    }
    &__button {
        padding: 1.2rem 2.4rem;
    }
}
.description-tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    margin-top: 4rem;
    &__item {
        margin-bottom: 3rem;
        &-title {
            font-size: 1.6rem;
            line-height: 1.6rem;
            font-weight: 500;
            margin-bottom: 1rem;
            color: $brand-black;
        }
        &-option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            p,
            span {
                font-size: 1.4rem;
                line-height: 1.4rem;
            }
            p {
                color: $text-secondary;
                margin-bottom: 0;
            }
            span {
                color: $brand-black;
            }
        }
    }
}
.review-tab {
    margin-top: 4rem;
    &__item {
        padding: 1.6rem 2.4rem;
        margin-bottom: 2rem;
        border: 1px solid #eeeeee;
        border-radius: 20px;
    }
    &__stars {
        img {
            margin-right: 6px;
            margin-bottom: 1rem;
        }
    }
    &__text {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 400;
        color: $brand-black;
        margin-bottom: 2rem;
        &-showall {
            text-align: center;
            color: $brand-focused;
            font-size: 1.6rem;
            background-image: linear-gradient();
            margin-bottom: 2rem;
            cursor: pointer;
        }
    }
    &__name {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: $text-secondary;
        span {
            color: $text-secondary;
        }
        &-dot {
            width: 5px;
            height: 5px;
            background: $text-secondary;
            margin: 0 8px;
            border-radius: 50%;
        }
    }
}
